<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bba2b7">  <td>22/04/02 09:44:27</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@3ad83a66]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/04/02 09:43:57</td>   <td>-29168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.login()[pri:1, instance:main.MainClass@3ad83a66]">login</td> 
  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/04/02 09:43:53</td>   <td>-33670</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@3ad83a66]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="bba2b7">  <td>22/04/02 09:44:05</td>   <td>-22009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.repayment()[pri:2, instance:main.MainClass@3ad83a66]">repayment</td> 
  <td>main@131872530</td>   <td></td> </tr>
</table>
